#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	npm ci
	npm run build

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/policy-engine-web/usr/share/policy-engine-web
	cp -r dist/* $(CURDIR)/debian/policy-engine-web/usr/share/policy-engine-web/

override_dh_auto_test:
	# No test suite currently configured

override_dh_auto_clean:
	rm -rf node_modules dist
